.preloader-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;

  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#open-sidenav {
  display:block;
}

.sidenav li.active {
  background-color: #2196F3;
}

.sidenav li.active > a {
  color:white;
}

.sidenav li.active > a > i.material-icons {
  color:white;
}

.justify-align {
  text-align: justify;
}

.block {
  height: 100vh;
}

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}
